<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    --height: 150px;
    --black: rgb(29, 40, 41);
    --white: rgb(233, 218, 215);
}
.container{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
header.container{
    max-width: 1000px;
    position: relative;
}
#clicks{
    z-index: 7;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
    margin:30px auto 45px;
    padding: 0 20px;
}
#clicks span{
    margin-left: 5px;
    z-index: 10;
}
#menu-btn{
    position: absolute;
    left: -100px;
    top: -9px;
    padding: 7px;
    border: 2px solid var(--black);
    border-radius: 7px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
    z-index: 3;
}
#menu-btn:hover{
    background-color: var(--white);
}
#menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    background-color: rgba(233, 218, 215, 0.8);
    transform: translateX(-400px);
    z-index: 30;
    transition: transform .3s ease;
    border-right: 5px solid var(--black);
}
#menu h4{
    margin-top: 8vh;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.menu-block{
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}
.block-item{
    width: 40%;
    height: 50px;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid var(--black);
    border-radius: 7px;
    transition: all .3s ease;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}
.block-item:hover{
    background-color: var(--white);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*records*/
#records{
    position: absolute;
    top: -12px;
    right: -100px;
    color: rgb(233, 215, 215);
    padding: 20px;
    padding-left: 25px;
    border: 2px solid var(--black);
    overflow: hidden;
    height: 65px;
    transition: all .3s ease;
    z-index: 30;
    background-color: rgb(197, 83, 42);
}
#records h3{
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}
#records:hover{
    height: 280px;
}
#records li{
    margin-bottom: 3px;
    font-weight: 300;
}
#records li:first-of-type{
    margin-bottom: 13px;
    color: var(--black);
    font-size: 1.2rem;
}
#level-1{
    display: block;
}
#level-2{
    display: none;
}
#memo-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
}
#memo-body > div {
    width: 150px;
    height: var(--height);
    margin: 5px;
    perspective: 500px;
}
.memo{
    height: inherit;
    width: inherit;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform .3s ease;
}
.memo-face, .memo-back{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    border: 5px solid rgb(78, 104, 109);
    text-align: center;
    line-height: var(--height);
    background-color: rgb(119, 179, 190);
    backface-visibility: hidden;
    transition: background 1s linear;
}
.memo-face img {
    vertical-align: middle;
    width: 100%;
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.memo-back{
    position: absolute;
    transform: rotateY(180deg);
    border-color: rgb(109, 89, 78);
    top: 0;
    left: 0;
    background-color: rgb(187, 122, 84);
}
/*two players*/
#twoPlayers{
    display: none;
    position: absolute;
    top: -12px;
    right: 310px;
    z-index: -1;
}
#twoPlayers p{
    display: inline-block;
    padding: 8px;
    border-radius: 7px;
    font-size: 1rem;
    letter-spacing: 2px;
    width: 140px;
    text-align: center;
    z-index: 3;
    transition: all .5s ease;
    background-color: rgb(136, 171, 187);
}
p#redPlayer{
    margin-right: 100px;
    background-color: rgb(207, 167, 143);
    transform: scale(1.1);
}
#playerSlider{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 500px;
    background: rgb(255, 226, 208);
    z-index: -1;
    transition: all 2s ease;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    transform: translateX(0px);
}
#playerSlider:hover{
    background: rgb(202, 244, 255);
}
/* Alert Modal window */
.alertModalWin{
    position: absolute;
    background: rgb(220, 229, 233);
    border: 2px solid black;
    padding: 20px 70px;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    display: none;
}
.alertModalWin h3{
    font-family: 'comic sans ms', sans-serif;
    margin: 0 0 20px;
}
.alertModalWin p{
    margin: 7px 0;
}
.alertModalWin input{
    margin: 7px 0;
    padding: 5px;
    background: #f3edec;
    border-radius: 5px;
}
.alertModalWin button{
    margin: 15px 7px 0;
    padding: 7px 15px;
    min-width: 60px;
    cursor: pointer;
}
.result-numbers{
    padding: 7px;
    background: #348db6;
    color: #faf9f9;
    border-radius: 5px;
}
#clicksResult{
    font-size: 17px;
    font-weight: bold;
}
#placeResult{
    padding: 7px;
    background: #348db6;
    color: #faf9f9;
    border-radius: 5px;
}
.show-modal{
    animation: showModal .2s ease forwards;
    display: block;
}
@keyframes showModal{
    100%{top: 20px}
}

@media screen and (max-width: 1500px){
    body{
        --height: 130px;
    }
    #memo-body > div {
        width: 130px;
    }
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    --height: 150px;
    --black: rgb(29, 40, 41);
    --white: rgb(233, 218, 215);
}
.container{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
header.container{
    max-width: 1000px;
    position: relative;
}
#clicks{
    z-index: 7;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black);
    margin:30px auto 45px;
    padding: 0 20px;
}
#clicks span{
    margin-left: 5px;
    z-index: 10;
}
#menu-btn{
    position: absolute;
    left: -100px;
    top: -9px;
    padding: 7px;
    border: 2px solid var(--black);
    border-radius: 7px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
    z-index: 3;
}
#menu-btn:hover{
    background-color: var(--white);
}
#menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 400px;
    background-color: rgba(233, 218, 215, 0.8);
    transform: translateX(-400px);
    z-index: 30;
    transition: transform .3s ease;
    border-right: 5px solid var(--black);
}
#menu h4{
    margin-top: 8vh;
    text-align: center;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.menu-block{
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}
.block-item{
    width: 40%;
    height: 50px;
    font-size: 1rem;
    font-weight: 300;
    border: 2px solid var(--black);
    border-radius: 7px;
    transition: all .3s ease;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}
.block-item:hover{
    background-color: var(--white);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*records*/
#records{
    position: absolute;
    top: -12px;
    right: -100px;
    color: rgb(233, 215, 215);
    padding: 20px;
    padding-left: 25px;
    border: 2px solid var(--black);
    overflow: hidden;
    height: 65px;
    transition: all .3s ease;
    z-index: 30;
    background-color: rgb(197, 83, 42);
}
#records h3{
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}
#records:hover{
    height: 280px;
}
#records li{
    margin-bottom: 3px;
    font-weight: 300;
}
#records li:first-of-type{
    margin-bottom: 13px;
    color: var(--black);
    font-size: 1.2rem;
}
#level-1{
    display: block;
}
#level-2{
    display: none;
}
#memo-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
}
#memo-body > div {
    width: 150px;
    height: var(--height);
    margin: 5px;
    perspective: 500px;
}
.memo{
    height: inherit;
    width: inherit;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform .3s ease;
}
.memo-face, .memo-back{
    width: inherit;
    height: inherit;
    border-radius: 15px;
    border: 5px solid rgb(78, 104, 109);
    text-align: center;
    line-height: var(--height);
    background-color: rgb(119, 179, 190);
    backface-visibility: hidden;
    transition: background 1s linear;
}
.memo-face img {
    vertical-align: middle;
    width: 100%;
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.memo-back{
    position: absolute;
    transform: rotateY(180deg);
    border-color: rgb(109, 89, 78);
    top: 0;
    left: 0;
    background-color: rgb(187, 122, 84);
}
/*two players*/
#twoPlayers{
    display: none;
    position: absolute;
    top: -12px;
    right: 310px;
    z-index: -1;
}
#twoPlayers p{
    display: inline-block;
    padding: 8px;
    border-radius: 7px;
    font-size: 1rem;
    letter-spacing: 2px;
    width: 140px;
    text-align: center;
    z-index: 3;
    transition: all .5s ease;
    background-color: rgb(136, 171, 187);
}
p#redPlayer{
    margin-right: 100px;
    background-color: rgb(207, 167, 143);
    transform: scale(1.1);
}
#playerSlider{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 500px;
    background: rgb(255, 226, 208);
    z-index: -1;
    transition: all 2s ease;
    border-left: 2px solid var(--black);
    border-right: 2px solid var(--black);
    transform: translateX(0px);
}
#playerSlider:hover{
    background: rgb(202, 244, 255);
}
/* Alert Modal window */
.alertModalWin{
    position: absolute;
    background: rgb(220, 229, 233);
    border: 2px solid black;
    padding: 20px 70px;
    left: 50%;
    top: -150px;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    display: none;
}
.alertModalWin h3{
    font-family: 'comic sans ms', sans-serif;
    margin: 0 0 20px;
}
.alertModalWin p{
    margin: 7px 0;
}
.alertModalWin input{
    margin: 7px 0;
    padding: 5px;
    background: #f3edec;
    border-radius: 5px;
}
.alertModalWin button{
    margin: 15px 7px 0;
    padding: 7px 15px;
    min-width: 60px;
    cursor: pointer;
}
.result-numbers{
    padding: 7px;
    background: #348db6;
    color: #faf9f9;
    border-radius: 5px;
}
#clicksResult{
    font-size: 17px;
    font-weight: bold;
}
#placeResult{
    padding: 7px;
    background: #348db6;
    color: #faf9f9;
    border-radius: 5px;
}
.show-modal{
    animation: showModal .2s ease forwards;
    display: block;
}
@keyframes showModal{
    100%{top: 20px}
}

@media screen and (max-width: 1500px){
    body{
        --height: 130px;
    }
    #memo-body > div {
        width: 130px;
    }
>>>>>>> 26411484c2642e641f45c6867b386043689879ed
}